@model List<OrnekProje.Models.Product>
@*<ul>
        @foreach (var product in Model)
        {

            <li>    @product.ProductName </li>

        }
    </ul>*@



<h3>ViewBag</h3>
<br />
<ul>
    @foreach (var product in ViewBag.products as List<OrnekProje.Models.Product>)
    {

        <li>
            @product.ProductName
        </li>

    }
</ul>


<h3>ViewData</h3>
<br />
<ul>
    @foreach (var item in ViewData["products"] as List<OrnekProje.Models.Product>)
    {
        <li>
            @item.ProductName
        </li>
    }
</ul>

<h3>TempData</h3>
<br />
<ul>
    @foreach (var item in TempData["products"] as List<OrnekProje.Models.Product>)
    {
        <li>
            @item.ProductName
        </li>
    }
</ul>


